#mn-footer-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: none; /* Hide the menu initially */
}

#mn-footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mn-footer-menu li {
    display: inline;
    margin: 0 10px;
}

#mn-footer-menu a {
    color: white;
    text-decoration: none;
}

#mn-footer-menu ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hide menu on screens wider than 768px */
@media (min-width: 768px) {
    #mn-footer-menu {
        display: none !important; /* Override other display properties on larger screens */
    }
}

/* Show the menu after scrolling */
#mn-footer-menu.show {
    display: flex;
}